{% macro filter(filter) %}
<div class="form-group">
    <form action="" method="get">
        <div class="form-group">
            <label for="{{filter.field.name}}dateFrom">date from</label>
            <div
                class='input-group'
                id='{{filter.field.name}}-datetime-from'
                data-target-input="nearest"
            >
                <input
                    type="text"
                    class="form-control datetimepicker-input"
                    id="{{filter.field.name}}dateFrom"
                    name="{{ filter.param_key_from }}"
                    value="{{ filter.get_params()[0] or '' }}"
                    data-target="#{{filter.field.name}}-datetime-from"
                />
                <div
                    class="input-group-addon input-group-append"
                    data-target="#{{filter.field.name}}-datetime-from"
                    data-toggle="datetimepicker"
                >
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="{{filter.field.name}}dateTo">date to</label>
            <div
                class='input-group'
                id='{{filter.field.name}}-datetime-to'
                data-target-input="nearest"
            >
                <input
                        type="text"
                        class="form-control datetimepicker-input"
                        id="{{filter.field.name}}dateTo"
                        name="{{ filter.param_key_to }}"
                        value="{{ filter.get_params()[1] or '' }}"
                        data-target="#{{filter.field.name}}-datetime-to"
                />
                <div
                    class="input-group-addon input-group-append"
                    data-target="#{{filter.field.name}}-datetime-to"
                    data-toggle="datetimepicker"
                >
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-secondary">

        {% for i, k in filter.query.items() %}
            {% if i not in [filter.param_key_to, filter.param_key_from, "page"] %}
                <input type="hidden" name="{{i}}" value="{{k}}">
            {% endif %}
        {% endfor %}

    </form>

    <script>
        $('#{{filter.field.name}}-datetime-from, #{{filter.field.name}}-datetime-to').datetimepicker({
          format: "{{ filter.format }}"
        });
    </script>

    {% if filter.get_params()[1] or filter.get_params()[0] %}
        <a href="{{ newParam({ filter.param_key_from: '', filter.param_key_to: '', 'page': 1 }, filter.query) }}">
            clear
        </a>
    {% endif %}
</div>
{% endmacro %}
