{% extends 'aiohttp_admin/base.html' %}
{% from 'aiohttp_admin/form.html' import form %}

{% block main %}
<div style="width: 100%">
    {% if message %}
    <p class="alert alert-dark">{{ message }}</p>
    {% endif %}
    <p class="content__empty-title">{{ title }}</p>
    <!--  create form  -->
    {{
        form(
            url(create_url, pk=pk),
            get_field_value=get_field_value,
            submit_text='Create',
            mapper=mapper,
            exclude=exclude_fields,
            controller_view=controller_view,
            with_defaults=True,
        )
    }}
</div>
{% endblock %}
