{% extends 'aiohttp_admin/base.html' %}
{% from 'aiohttp_admin/form.html' import form %}

{% block main %}
<div style="width: 100%">
    {% if message %}
    <p class="alert alert-dark">{{ message }}</p>
    {% endif %}
    <p class="content__empty-title">{{ title }}</p>
    <!--  update form  -->
    {{
        form(
            url(save_url, pk=pk, nested_pk=nested_pk),
            get_field_value=get_field_value,
            submit_text='Update',
            mapper=mapper,
            exclude=exclude_fields,
            controller_view=controller_view,
        )
    }}
    <!--  delete form  -->
    {{
        form(
            url(delete_url, pk=pk, nested_pk=nested_pk),
            get_field_value=get_field_value,
            submit_text='Delete',
            method='GET',
            submit_cls='btn-danger',
            controller_view=controller_view,
        )
    }}
</div>
{% endblock %}
