{% extends 'aiohttp_admin/base.html' %}
{% from 'aiohttp_admin/form.html' import form %}

{% block main %}
<div style="width: 100%">
    {% if message %}
    <p class="alert alert-dark">{{ message }}</p>
    {% endif %}
    <p class="content__empty-title">{{ title }}</p>
    {% if controller_view.tabs %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url(detail_url, pk=object.id) }}">
            Common
        </a>
      </li>
      {% for tab in controller_view.tabs_list %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url(tab.index_url_name, pk=object.id) }}">
              {{ tab.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <br>
    {% endif %}
    <!--  update form  -->
    {{
        form(
            url(save_url, pk=object.id),
            get_field_value=get_field_value,
            submit_text='Update',
            mapper=mapper,
            exclude=exclude_fields,
            controller_view=controller_view,
        )
    }}
    <!--  delete form  -->
    {{
        form(
            url(delete_url, pk=object.id),
            get_field_value=get_field_value,
            submit_text='Delete',
            method='GET',
            submit_cls='btn-danger',
            controller_view=controller_view,
        )
    }}
</div>
{% endblock %}
