{% extends 'aiohttp_admin/base.html' %}

{% block main %}
<div>
    <p class="content__empty-title">{{ title }}</p>
    {% for name, value in object.__dict__.items() %}
    {% if not name.startswith('_') %}

    {% if hasattr(object, '_relations') and object._relations.get(name) %}
    <b>{{ name }}</b>
    <a href="{{ url(controller.foreign_keys.get(name)().name + '_detail', pk=value) }}">
        {{ object._relations.get(name) }}
    </a>
    {% else %}
    <p><b>{{ name }}</b> {{ value }}</p>
    {% endif %}
    <p></p>
    {% endif %}
    {% endfor %}
    <br>
    {% if controller.can_delete %}
    <form action="{{ url(delete_url, pk=pk, nested_pk=nested_pk)}}" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    {% endif %}
</div>
{% endblock %}
