{% extends 'aiohttp_admin/base.html' %}

{% block main %}
<div>
    <form action="{{ url(save_url, pk=object.id) }}" method="POST">
    <p class="content__empty-title">{{ title }}</p>
    {% for name, value in object.__dict__.items() %}
    <b>{{ name }}</b>
    <input name="{{ name }}" value="{{ value }}" />
    <br>
    {% endfor %}
    <br>
        <button class="btn" type="submit">Update</button>
    </form>
    <form action="{{ url(delete_url, pk=object.id) }}" method="GET">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
</div>
{% endblock %}
