{% extends 'aiohttp_admin/base.html' %}

{% block main %}
<div style="width: 100%">
    {% if message %}
    <p class="alert alert-dark">{{ message }}</p>
    {% endif %}
    <div class="container">
</div>

    <p class="content__empty-title">{{ title }}</p>
    {% if controller_view.parent.tabs %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url(controller_view.parent.detail_url_name, pk=pk) }}">Common</a>
      </li>
      {% for tab in controller_view.parent.tabs_list %}
        <li class="nav-item">
          <a class="nav-link {% if controller_view.name == tab.name %}active{% endif %}" href="{{ url(tab.index_url_name, pk=pk) }}">{{ tab.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <br>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <table class="table table-striped">
                    {% include 'aiohttp_admin/list_header.html' %}
                    <tbody>
                        {%- for obj in list.instances %}
                        <tr>
                            {% for field in controller.inline_fields %}
                            <td>
                                {% if loop.first %}
                                <input class="index-checkbox" type="checkbox" />
                                {% if controller.can_update %}
                                <a href="{{ url(detail_url_name, pk=pk, nested_pk=obj.id)}}">
                                {% endif %}
                                {% endif %}
                                {% if hasattr(controller, "{}_field".format(field)) %}
                                    {{ getattr(controller, "{}_field".format(field))(obj)|safe }}
                                {% else %}
                                    {{ obj|attr(field) }}
                                {% endif %}
                                {% if loop.first %}
                                {% if controller.can_update %}
                                </a>
                                {% endif %}
                                {% endif %}
                            </th>
                            {% endfor %}
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {%- if controller.can_create %}
    <div class="row justify-content-end list-nav">
        <div>
            <a class="btn btn-success btn-action" href="{{ url(create_url, pk=pk) }}">Create</a>
        </div>
    </div>
    {%- endif %}
</div>
{% endblock %}
