{% extends 'aiohttp_admin/base.html' %}

{% block main %}
<div style="width: 100%">
    {% if message %}
    <p class="alert alert-dark">{{ message }}</p>
    {% endif %}
    <p class="content__empty-title">{{ title }}</p>
    {% if controller_view.parent.tabs %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url(controller_view.parent.detail_url_name, pk=pk) }}">Common</a>
      </li>
      {% for tab in controller_view.parent.tabs_list %}
        <li class="nav-item">
          <a class="nav-link {% if controller_view.name == tab.name %}active{% endif %}" href="{{ url(tab.index_url_name, pk=pk) }}">{{ tab.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <br>
    {% endif %}
    {{ content|safe }}

</div>
{% endblock %}
