{% extends 'aiohttp_admin/base.html' %}
{% from "aiohttp_admin/pagination.html" import pagination %}

{% block main %}
<div style="width: 100%">
    {% if message %}
    <p class="alert alert-dark">{{ message }}</p>
    {% endif %}
    <div class="container">
</div>

    <div class="row justify-content-between list-nav">
        <div>
            <p class="content__empty-title">{{ title }}</p>
        </div>
        <div>
            {%- if controller.can_create %}
            <a class="btn btn-success btn-action" href="{{ url(create_url, pk=pk) }}">Create</a>
            {%- endif %}
        </div>
    </div>

    {% if controller_view.parent.tabs %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url(controller_view.parent.detail_url_name, pk=pk) }}">Common</a>
      </li>
      {% for tab in controller_view.parent.tabs_list %}
        <li class="nav-item">
          <a class="nav-link {% if controller_view.name == tab.name %}active{% endif %}" href="{{ url(tab.index_url_name, pk=pk) }}">{{ tab.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <br>
    {% endif %}

    <div class="container">
        {% include 'aiohttp_admin/blocks/list_objects_block.html' %}
    </div>

    <!-- pagination -->
    <!-- todo: order -->
    {{
        pagination(
            list.active_page,
            list.count,
            list.has_next,
            list.hex_prev,
            list.per_page,
            request.rel_url.query,
        )
    }}
</div>
{% endblock %}
