<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <link rel="stylesheet" href="{{ url('admin_static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{{ url('admin_static', filename='css/theme.css') }}">
    <!-- extra header -->
    {% block extra_header %}{% endblock %}
    <!-- end extra header -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ project_name }}</title>
</head>
<body>
    <!-- header -->
    {% include 'admin/header.html' %}
    <!-- end header -->
    <!-- main block -->
    <main class="main">
        {% include 'admin/nav_aside.html' %}
        <div class="content">
            {% block main %}
            {% endblock %}
        </div>
    </main>
    <!-- end main block -->
</body>
</html>
