<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aiohttp admin</title>
</head>
<body>
    <!-- header -->
    {% include 'admin/header.html' %}
    <!-- main content -->
    {% block main %}{% endblock %}
    <!-- footer -->
    {% include 'admin/footer.html' %}
</body>
</html>
