{% extends 'admin/base.html' %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url('admin_static', filename='css/dashboard.css') }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
{% endblock %}

{% block main %}
<main class="main">
    {% include 'admin/nav_aside.html' %}
    <div class="content">
        {%- if content  %}
        {{ content }}
        {%- else %}
         <p class="content__empty-title">Dashboard</p>
        {%- endif %}
    </div>
</main>
{% endblock %}
