{% extends 'admin/base.html' %}
{% from "admin/paggination.html" import paggination %}


{% block main %}
<div class="wrapper">
{% include 'admin/list_action_buttons.html' %}

<table class="table table-striped">
    <thead>
        <tr>
            {% with isDesc=(request.rel_url.query.get('sortDir') == 'desc') %}
            {% for field in view.inline_fields %}
            <th scope="col">
                {% if field not in view.read_only_fields %}
                <a href="{{ newParam({'sort': field, 'sortDir': 'asc' if isDesc else 'desc'}, request.rel_url.query) }}">
                    {{ field|replace("_", " ")|lower }}
                    {% if request.rel_url.query.get('sort') == field %}
                        {% if isDesc %}
                        <i class="material-icons">arrow_upward</i>
                        {% else %}
                        <i class="material-icons">arrow_downward</i>
                        {% endif %}
                    {% endif %}
                </a>
                {% else %}
                {{ field|replace("_", " ")|lower }}
                {% endif %}
            </th>
            {% endfor %}
            {% endwith %}
        </tr>
    </thead>
    <tbody>
        {%- for obj in list.list_result %}
        <tr>
            {% for field in view.inline_fields %}
            <td>
                {% if field in view.read_only_fields %}
                    {{ view.get_read_only_field(field, obj)|safe }}
                {% else %}
                    {% if loop.first %}
                    <input class="index-checkbox" type="checkbox" />
                    <a href="{{ url(edit_url_name, id=obj.user_id)}}">
                        {{ obj|attr(field) }}
                    </a>
                    {% else %}
                    {{ obj|attr(field) }}
                    {% endif%}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>

<!-- paggination -->
{{ 
    paggination(
        list.active_page,
        list.count_items,
        list.has_next,
        list.has_prev,
        list.per_page,
        request.rel_url.query,
    )
}}

</div>
{% endblock %}
