/* common */
html, body {
    height: 100%;
}

.material-icons {
    display: inline-block;
    vertical-align: bottom;
}

/* main container */
.main {
    min-height: calc(100% - 56px);
    display: flex;
}

/* aside */
.nav-aside {
    width: 100%;
    max-width: 250px;
    min-height: 100%;
    background: #ebebeb;
    margin-right: 20px;
}

.nav-aside ul {
    padding: 0;
    font-size: 0;
    list-style: none;
}

.nav-aside__link {
    color: #7c7c7c;
    font-size: 15px;
    padding: 10px 30px;
    display: inline-block;
    width: 100%;
    transition: background-color ease-in .1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-aside__link:hover {
    background: #d6d6d6;
    color: #7c7c7c;
    text-decoration: none;
}

.nav-aside__link_active {
    background: #d6d6d6;
}

.nav-aside__group-title {
    padding: 20px 30px;
    font-size: 16px;
    margin: 0;
    width: 100%;
    color: #939393;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* content */
.content {
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding-right: 24px;
}

.content__empty-title {
    margin: auto;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #eee;
}

.wrapper {
    display: block;
    width: 100%;
}

/* paggination */

.paggination {
    display: flex;
    justify-content: space-between;
}

.paggination .paggination__count {
    padding: .5rem .75rem;
    color: #7c7c7c;
}

/* action bar  */
.btn-action.btn-action {
    padding: 8px 16px;
}

/* lsit */

.index-checkbox {
    margin-right: 10px;
    transform: scale(1.2);
}
