{% extends 'aiohttp_admin/layouts/base.html' %}
{% from 'aiohttp_admin/blocks/form/form.html' import form %}

{% block main %}
<div style="width: 100%">
    <p class="content__empty-title">{{ title }}</p>
    <!--  create form  -->
    {{
        form(
            create_post_url,
            get_field_value=get_field_value,
            submit_text='Create',
            mapper=mapper,
            exclude=exclude_fields,
            controller_view=controller_view,
            with_defaults=True,
        )
    }}
</div>
{% endblock main %}
