{% extends 'aiohttp_admin/layouts/base.html' %}
{% from "aiohttp_admin/blocks/pagination.html" import pagination %}
{% from "aiohttp_admin/blocks/filters/search_filter.html" import search_filter with context %}

{% block main %}
    <div class="wrapper">
        {% include 'aiohttp_admin/blocks/list_action_buttons.html' %}
        {% include 'aiohttp_admin/blocks/tabs_bar.html' %}

        {% block list_content %}
            <div class="container">
                <div>
                    {% if controller.search_fields %}
                        {{ search_filter(controller_view.search_filter(controller.search_fields, request.rel_url.query)) }}
                    {% endif %}
                </div>
                {% include 'aiohttp_admin/blocks/list_objects_block.html' %}
            </div>

            <!-- todo: order -->
            {{
                pagination(
                    list.active_page,
                    list.count,
                    list.has_next,
                    list.hex_prev,
                    list.per_page,
                    request.rel_url.query,
                )
            }}
        {% endblock list_content %}
    </div>
{% endblock main %}
