<div style="display: flex; height: 100%">
    <form
        style="margin: auto; width: 320px"
        method="POST"
        action="{{ url('login_post') }}"
    >
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="admin">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="admin">
        <br>
        <br>
        <button type="submit">Submit</button>

    </form>
</div>

