{% from "aiohttp_admin/blocks/form/field_title.html" import title %}
{% from "aiohttp_admin/blocks/form/field_errors.html" import errors %}

{% macro field(
    name,
    field,
    get_field_value,
    with_defaults=False
)
%}
<div class="form-group">
    {{ title(name, field) }}
    {% set field_value = get_field_value(field, with_defaults) -%}
    <select name="{{ name }}" id="{{ name }}input" class="form-control">
        <option
            value=""
            {% if not field.is_not_none %}selected{% endif%}
        >
            {{ field.empty_value }}
        </option>

        {%- for value, text in field.choices %}
        <option
            value="{{ value }}"
            {% if field_value | string() == value | string() %}selected{% endif%}
        >
            {{ text }}
        </option>
        {%- endfor %}
    </select>
    {{ errors(field) }}
</div>
{% endmacro %}
