{% from 'aiohttp_admin/blocks/list_cell.html' import list_cell %}

<div class="row">
    <div class="col-sm">
        <table class="table table-striped">
            {% include 'aiohttp_admin/blocks/list_objects_header_block.html' %}
            <tbody>
                {%- for row in list.rows %}
                <tr>
                    {% for cell in row %}
                    <td>
                        {% if loop.first %}
                        <label>
                            <input class="index-checkbox" type="checkbox" />
                        </label>
                        {% endif %}
                        {{ list_cell(cell) }}
                    </th>
                    {% endfor %}
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    {% if controller.list_filter %}
    <nav class="filter-nav col-3">
        <p class="filter-nav-title">Filters</p>
        <div>
<!--            # todo: move to python -->
            {% for f in controller.list_filter %}
                {% set field = controller.mapper({})._fields.get(f) %}
                {% set filter = controller_view.default_filter_map.get(field.type_name) %}
                {% if field and filter %}
                    <p class="filter-title">By {{ f }}</p>
                    {% from filter.template_name import filter as filter_macro with context %}

                    {{ filter_macro(field, filter(field.name, request.rel_url.query)) }}
                {% endif %}
            {% endfor %}
        </div>
    </nav>
    {% endif %}
</div>
