{% macro field(
    name,
    field
)
%}
<div class="form-group">
    <label for="{{ name }}input">{{ name }}:</label>
    <input id="{{ name }}input" class="{{name}} form-control" name="{{ name }}" value="{{field.failure_safe_value | map('string') | join(',') if field.is_not_none}}" placeholder="Add tags"/>
    {% if field.errors %}
    <br>
    {% for error in field.errors %}
    <span style="color: red">{{ error }}</span>
    <br>
    {% endfor %}
    {% endif %}

    <script>
        $(".{{name}}").tagsinput('items');
    </script>

</div>
{% endmacro %}
