{% macro field(
    name,
    field,
    with_defaults=False
)
%}
<div class="form-group">
    {% include 'aiohttp_admin/blocks/form/field_title.html' %}
    <!-- todo: move from _value -->
    {% if field._value %}
    <a href="{{ field._value  }}" target="_blank">{{ field._value }}</a>
    {% endif %}
    <input type="file" class="form-control-file" name="{{ name }}" id="{{ name }}input" aria-describedby="inputGroup-sizing-default" />
    {% if field.errors %}
    <br>
    {% for error in field.errors %}
    <span style="color: red">{{ error }}</span>
    <br>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}
