{% macro field(
    name,
    field,
    with_defaults=False
)
%}
<div class="form-group">
    {% include 'aiohttp_admin/blocks/form/field_title.html' %}
    <!-- todo: move from _value -->
    {% if field._value %}
    <a href="{{ field._value  }}" target="_blank">{{ field._value }}</a>
    <input type="checkbox" class="{{ name }}__remove_image">
    <span>clean image</span>
    {% endif %}
    <input type="hidden" value="{{ field._value  }}" name="{{ name }}" class="{{ name }}__hidden_value">
    <img
            {% if field._value %}src="{{ field._value  }}"{% endif %}
            height="200"
            class="image-widget__image {{ name }}__image_view {% if not field._value %}hidden{% endif %}"
    />
    <input type="file" class="form-control-file" id="{{ name }}input" aria-describedby="inputGroup-sizing-default" />
    {% if field.errors %}
    <br>
    {% for error in field.errors %}
    <span style="color: red">{{ error }}</span>
    <br>
    {% endfor %}
    {% endif %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.{{ name }}__image_view').attr('src', e.target.result);
                    $('.{{ name }}__image_view').removeClass( "hidden" );
                    $('.{{ name }}__hidden_value').removeAttr("name");
                    $('.{{ name }}__remove_image').removeAttr("name");
                    $('#{{ name }}input').attr('name', '{{ name }}');
                }
                reader.readAsDataURL(input.files[0]);
            } else {
              $('.{{ name }}__image_view').addClass("hidden");
              $('.{{ name }}__hidden_value').attr('name', '{{ name }}');
              $('.{{ name }}__remove_image').removeAttr("name");
              $('#{{ name }}input').removeAttr("name");
            }
        }
        $("#{{ name }}input:file").change(function(){
            readURL(this);
        });
        $(".{{ name }}__remove_image").change(function() {
            if(this.checked) {
                $('.{{ name }}__remove_image').attr('name', '{{ name }}');
                $('#{{ name }}input').removeAttr("name");
            } else {
                $('.{{ name }}__remove_image').removeAttr("name");
                $('#{{ name }}input').attr('name', '{{ name }}');
            }
        })
    </script>
</div>
{% endmacro %}
