{% macro field(
    name,
    field,
    with_defaults=False
)
%}
<div class="form-group">
    {% include 'aiohttp_admin/blocks/form/field_title.html' %}
    {%- if field.is_not_none %}
        {% set field_value = field.failure_safe_value %}
    {%- elif field.default and with_defaults %}
        {% set field_value = field.default %}
    {%- else %}
        {% set field_value = '' %}
    {%- endif %}
    <div class="wrapper-json">
        <div class="{{ name }} json" id="jsoneditor-{{name}}" name="{{ name }}">{{ field_value }}</div>
        <textarea class="{{ name }}-json hidden" name="{{ name }}">{{ field_value }}</textarea>
    </div>
    {% if field.errors %}
    <br>
    {% for error in field.errors %}
    <span style="color: red">{{ error }}</span>
    <br>
    {% endfor %}
    {% endif %}
    <script>
        const editor{{name}} = ace.edit('jsoneditor-{{name}}', {
          mode: 'ace/mode/json',
          selectionStyle: 'text',
          showPrintMargin: true,
          theme: 'ace/theme/chrome'
        });

        $("#jsoneditor-{{name}}").keyup(function() {
            var currentText = editor{{name}}.getValue();
            $(".{{ name }}-json").text(currentText);
        });
    </script>
    <style>
        #jsoneditor-{{name}} {
            position: absolute;
            width: 100%;
            height: 400px;
        }
        .wrapper-json {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 400px;
        }
    </style>
</p>
{% endmacro %}
